<launch>
  <node pkg="map_annotator" type="server.py" name="map_annotator_server" args="/var/ros/maps/cse014_poses.db" />
  <node pkg="interactive_marker_proxy" type="proxy" name="map_annotator_interactive_marker_proxy">
    <remap from="topic_ns" to="/map_annotator/map_poses" />
    <remap from="target_frame" to="/map" />
    <param name="update_rate" value="10.0" />
  </node>
</launch>
